@import "~ngx-toastr/toastr.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

button:focus {
    outline: none;
}

.main-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    padding: 0 0 0 1.5rem;
    min-height: 71.8vh;
}

h2 {
    margin-top: 2rem;
    font-family: "Satisfy", cursive;
    margin-bottom: 2rem;
    color: rgb(92, 29, 55);
}

.nav-link span {
    color: rgb(43, 2, 37);
    font-weight: bolder;
    font-family: "Dancing Script", cursive;
}

.nav-link.active span {
    color: rgb(163, 108, 126);
}

input.ng-invalid.ng-touched {
    border-color: red;
}

input.ng-valid {
    border-color: rgb(128, 74, 96);
}

.invalid{
    color: red;
}

label.required::after {
    content: '*';
    color: #e32;
    margin-left: 5px;
}
