<div class="title"><h1>Dashboard</h1></div>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <card [statement]="'Coding'" [classes]="'card card1'"></card>
    </div>
    <div class="col-xl-3 col-md-6">
        <card [statement]="'Ceria'" [classes]="'card card2'"></card>
    </div>
    <div class="col-xl-3 col-md-6">
        <card [statement]="'Bikin'" [classes]="'card card3'"></card>
    </div>
    <div class="col-xl-3 col-md-6">
        <card [statement]="'Happy'" [classes]="'card card4'"></card>
    </div>
</div>