<div id="carouselSlide" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselSlide" data-slide-to="0" class="active"></li>
    <li data-target="#carouselSlide" data-slide-to="1"></li>
    <li data-target="#carouselSlide" data-slide-to="2"></li>
    <li data-target="#carouselSlide" data-slide-to="3"></li>
    <li data-target="#carouselSlide" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img 
        src="../../../assets/img/slider/livingroom.png" 
        class="d-block w-100" alt="..." 
        (click)="link('living-room')">
    </div>
    <div class="carousel-item" data-interval="5000">
      <img 
        src="../../../assets/img/slider/bedroom.png" 
        class="d-block w-100" alt="..."
        (click)="link('bedroom')">
    </div>
    <div class="carousel-item" data-interval="5000">
      <img 
        src="../../../assets/img/slider/diningroom.png" 
        class="d-block w-100" alt="..."
        (click)="link('dining-room')">
    </div>
    <div class="carousel-item" data-interval="5000">
      <img 
        src="../../../assets/img/slider/workspace.png" 
        class="d-block w-100" alt="..."
        (click)="link('workspace')">
    </div>
    <div class="carousel-item" data-interval="5000">
      <img 
        src="../../../assets/img/slider/decoration.png" 
        class="d-block w-100" alt="..."
        (click)="link('decoration')"> 
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselSlide" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselSlide" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>