<div class="card">
    <div class="card-header">
      <div class="clearfix">
            <span class="float-left font-weight-bold mt-2">
                Form Category 
            </span>
      </div>
    </div>
    <div class="card-body">
      <form 
        (ngSubmit)="onSubmit()"
        [formGroup]="form">
        <div class="row">
          <div class="col-12 col-sm-6">
            <!-- Name -->
            <fieldset class="form-group">
              <label class="col-form-label required" for="name">Name</label>
              <input
                [class.is-invalid]="isFieldInvalid(form, 'name')"
                class="form-control"
                formControlName="name"
                id="name"
                name="name"
                required
                type="text"
              />
              <ng-container *ngIf="isFieldInvalid(form,'name')">
                <div *ngIf="form.get('name').hasError('required')" class="invalid-feedback">
                  Name is required
                </div>
              </ng-container>
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col form-group">
            <div class="form-actions submit-button mt-5">
              <ng-template [ngIfElse]="falseEditable" [ngIf]="editable">
                <button class="btn btn-sm btn-primary" type="submit">
                  <i class="fa fa-check"></i> Submit
                </button>&nbsp;
              </ng-template>
              <ng-template #falseEditable>
                <button [routerLink]="['edit']" class="btn btn-sm btn-success" type="button">
                  <i class="fa fa-edit"></i> Edit
                </button>&nbsp;
              </ng-template>
              <button (click)="location.back()" class="btn btn-sm btn-secondary cancel-buttons" type="button">
                <i class="fa fa-close"></i> Cancel
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>