<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top bg-light">
  <a class="navbar-brand" [routerLink]="['/home']"> 
    <img src="../../../assets/img/logo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn-nav" [routerLink]="['/living-room']">Living Room</button>
      </li>
      <li class="nav-item">
        <button class="btn-nav" [routerLink]="['/bedroom']">Bedroom</button>
      </li>
      <li class="nav-item">
        <button class="btn-nav" [routerLink]="['/dining-room']">Dining Room</button>
      </li>
      <li class="nav-item">
        <button class="btn-nav" [routerLink]="['/workspace']">Workspace</button>
      </li>
      <li class="nav-item">
        <button class="btn-nav" [routerLink]="['/decoration']">Decoration</button> 
      </li>
    </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="!name">
          <button class="btn-item" [routerLink]="['/login']">Login / Register</button> 
        </li>
        <li class="nav-item dropdown" *ngIf="name">
          <button class="btn-item dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i>{{ name }}</button>  
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/manage-user']" >Manage User</a>
            <a class="dropdown-item" (click)="logOut()">Log Out</a>
          </div>
        </li>
        <li class="nav-item">
            <button 
              class="btn-item"
              routerLink="/shopping-cart">
                <i class="fa fa-shopping-basket fa-2x" aria-hidden="true"></i>
            </button>
        </li>
        <li class="nav-item">
          <button
            class="btn-item"
            (click)="openModalSearch()">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
          </button>
        </li>
        
      </ul>
  </div>
</nav> 

<router-outlet></router-outlet>

<div class="footer">
  <p>@copyrigth sisain-space yuyun</p>
</div>