.bg-light{
    background-color: white !important;
}

.navbar-brand img{
    width: 110px;
    height: 50px;
}

.navbar{
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    padding: 10px 20px 0px 20px;
}

.btn-nav{
    color: rgb(129, 7, 58);
    font-weight: bold;
    padding: 20px 15px 20px 15px;
    border: none;
    background: transparent;
}

.btn-nav:hover{
    border-bottom: 5px solid rgb(136, 1, 42);
    color:   rgb(105, 86, 92);
}

.btn-nav:focus{
    border-bottom: 5px solid rgb(136, 1, 42);
    color:   rgb(105, 86, 92);
}

.btn-item{
    color: rgb(129, 7, 58);
    border: none;
    background: transparent;
    padding: 10px;
    font-weight: bold;
}

.btn-item:hover{
    color: rgb(206, 157, 111);
}

.footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: rgb(124, 110, 122);
    color: white;
    text-align: center;
    margin-top: 4rem;
 }

 .dropdown-menu{
    background-color:  rgb(221, 212, 218);
    padding: 0;
    
}


.dropdown-item{
    background-color:  rgb(221, 212, 218);
    color: rgb(59, 3, 17);
}

.dropdown-item:hover{
    background-color:   rgb(129, 125, 128);
    color: white;
}

@media(max-width: 600px){
    .row{
        width: auto;
    }
}